{% extends 'core/base.html' %}
{% load static %} {% static 'core/ ' %}
{% block contenido %}}

    {% load pwa %}

    {% progressive_web_app_meta %}

  <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyADxtPow_hGRgxn2V5N9EYyCV1vQPKsc_c",
        authDomain: "carwashington-76224.firebaseapp.com",
        databaseURL: "https://carwashington-76224.firebaseio.com",
        projectId: "carwashington-76224",
        storageBucket: "carwashington-76224.appspot.com",
        messagingSenderId: "90284256836",
        appId: "1:90284256836:web:1efccbc19366a44ac15611",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      //////////////////////////////////////////
      let messaging = firebase.messaging();

      navigator.serviceWorker
      .register('serviceworker.js')
      .then(function(register){
          messaging.useServiceWorker(register)
          // Solicitar permisos para recibir notificaciones
          messaging.requestPermission()
          .then(function(){
            console.log('El usuario acepto recibir notificaciones')
          })
          .catch(function(e){
              console.log('El usuario no desea recibir notificaciones')
          })
      })
    </script>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Ingrese los datos del Insumo</h1>
        <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            <table style="margin-bottom: 3%;">
                {{form}}
            </table>
            <input type="submit" class="btn btn-success" value="Guardar" style="margin-left: 2%;">
            <input type="reset" class="btn btn-danger" value="Limpiar" style="margin-left: 2%;">
        </form>
   
        {{ mensaje }}

    </div>    
    <div class="col-sm-2"></div>

</div>

{% endblock %}