{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<section>
    <div style="visibility: hidden;">
        <h1>ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, 
            ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, 
            ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, 
            ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, 
            ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, ESPACIO PARA QUE EL FOOTER SE PONGA BIEN, </h1>
    </div>
</section>

{% endblock %}